body {
  background-color: #588C7E; }

h1 {
  color: #F2E394;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 175px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center; }

h3 {
  color: #F2E394;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: center; }

p {
  color: #D96459;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word; }
